<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mixPanelToken</key>
	<string>4feb3030d736acff4c63b5dc4900e1f1</string>
	<key>experimentalSparkId</key>
	<string>NTA2NjEzYWYtN2ZkMS00Yzk2LWJkNTgtNjhmMTMwMDU4MTZlMGJhOTQ3YTktMDhk</string>
	<key>experimentalRecipientUri</key>
	<string>roomkit@sparkdemos.com
</string>
	<key>experimentalCustomerWebsite</key>
	<string>https://www.cisco.com</string>
	<key>defaultMessagingRecipient</key>
	<string>toFrench@sparkbot.io</string>
	<key>guestIdentificationString</key>
	<string>SDK Guest User</string>
	<key>appIdToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaXNzIjoiWTJselkyOXpjR0Z5YXpvdkwzVnpMMDlTUjBGT1NWcEJWRWxQVGk4eU1HRTBORE00TmkxbFpXUTVMVFJpTUdJdFlURmpaaTFsTlRreU5URmxaV0V3T0RZIn0.crejr3wJaGG7vXIlMbI4gYwSxMfoJdaJ2UMzAh-J92Y</string>
</dict>
</plist>
